Options -Indexes

RewriteEngine on


RewriteCond %{REQUEST_URI} /modules/ [NC]
RewriteRule modules/([^/.]+){1}/(.+)$ Modules/$1/Public/$2 [NC,L,END]



RewriteCond %{REQUEST_URI} !modules [NC]
RewriteRule (css|js|images|img|fonts|vendors|assets)/(.+)$ Public/$1/$2 [NC,L,END]


RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$  index.php

#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}